{% extends "___layout.html" %}

{% block content %}

<div class="background">
    <div class="block">
        <div class="blocktext">
            <h4 style="text-align: center;">Обо мне</h4> 
            <!-- <a class = "content" href="/Oxford.html">Oxford</a>
            <a class = "content" href="/Cambridge.html">Cambridge</a>
            <a class = "content" href="/ColledgeLondon.html">Imperial College London</a>
            <a class = "content" href="/about.html">Обо мне</a> -->

            <a class = "content" href="/">Главная</a>

            <p>Привет! Меня зовут Зверев Дмитрий, я студент 1 курса группы ИСТб-22-2 и это мой сайт.</p>

            <p><img class="photo" src="/static/imageZV.jpg" alt="Личная фотография"></p>
            <!-- <p style = "text-align: center; font-size: 16px; text-decoration: underline">Личная фотография</p> -->

            <p>В 2011 году пошел в первый класс школы № 37, в 2022 году успешно закончил 11 класс. 
            Обучаясь в начальной школе, посещал кружок авиастроения «Сигма». Также посещал занятия по дополнительному обучению в «Центре А-Я» по английскому языку. 
            В 2022 поступил в Институт Информационных Технологий и Анализа Данных ИРНИТУ г. Иркутска на факультет Информационные системы и технологии. 
            </p>

        </div>
    </div>

{% endblock %}