{% extends "___layout.html" %}

{% block content %}
    

<div class="background">
    <div class="block">
        <div class="blocktext">
            <h3 style = "text-align: center;">Кембриджский университет</h3>

            <a class = "content" href="/">Главная</a>
            <!-- <a class = "content" href="/Oxford.html">Oxford</a>
            <a class = "content" href="/Cambridge.html">Cambridge</a>
            <a class = "content" href="/ColledgeLondon.html">Imperial College London</a>
            <a class = "content" href="/about.html">Обо мне</a> -->

            <p>Кембриджский университет замыкает тройку лидеров мирового рейтинга THE в 2020 году, 
            а среди вузов Великобритании занимает второе место. В 2020 году он также признан мировым лидером в преподавании биологических наук.</p>

            <div id="Oxford_list" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#Oxford_list" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#Oxford_list" data-bs-slide-to="1" aria-label="Slide 2"></button>                
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/Cambridge_list.jpg" class="d-block w-100 photo_uni" alt="University of Oxford">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/cambridge_2.jpg" class="d-block w-100 photo_uni" alt="University of Cambridge inside">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#Oxford_list" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#Oxford_list" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p style = "text-align: center; font-size: 16px; text-decoration: underline">Кембриджский университет</p>

            <p>University of Cambridge включает в себя 31 колледж, четыре из которых принимают лишь аспирантов, три обучают только девушек. 
            Обучение в университете ведется по 28 курсам.</p>

            <p>Кембриджский нобелевский рекорд пока не превзойден: здесь учились или преподавали 88 лауреатов.</p>
                
            <p>Университет представляет собой конфедерацию департаментов, колледжей и факультетов. Каждый из них руководствуется собственными уставами и правилами, а также определяет критерии отбора студентов. 
            Лучшие факультеты:</p>

            <ul>
                <li>история;</li>
                <li>археология;</li>
                <li>математика;</li>
                <li>фармакология;</li>
                <li>современные языки.</li>
            </ul>

            <p>В Кембридже присутствует мощный исследовательский центр. В его состав входят учебные аудитории, лаборатория. На базе университета расположена одна из древнейших библиотек в мире, 
            музей археологии и антропологии, ботанический сад, институт полярных исследований.</p>

            <p>Если желаете узнать побольше о данном ВУЗе, то вот ссылочка: <a href="https://ru.wikipedia.org/wiki/Кембридж#">University of Cambridge</a></p>

        </div>
    </div>
</div>
{% endblock %}