{% extends "___layout.html" %}

{% block content %}


<div class="background-2">
    <div class="block-2 ">
        <div class="blocktext">
            <h2 style="text-align: center;">Высшее образование в Великобритании и её лучшие ВУЗы</h2>
            <br><br>
            <h4>Содержание</h4>
            <ol>
                <li><a href="#top1" class = "content">ВУЗы Великобритании</a><br></li>
                <li><a href="#top2" class = "content">Особенности высшего образования в Великобритании</a><br></li>
                <li><a href="#top3" class = "content">Система высшего образования Великобритании</a><br></li>
                <li><a href="#top4" class = "content">Бакалавриат в Великобритании</a><br></li>
                <li><a href="#top5" class = "content">Магистратура в Великобритании</a><br></li>
                <li><a href="/oxford" class = "content">Оксфордский университет</a></li>
                <li><a href="/cambridge" class="content">Кембриджский университет</a></li>
                <li><a href="/colledgeLondon" class="content">Имперский колледж Лондона</a></li>
                <li><a href="/about" class="content">Обо мне</a></li>
                <li><a href="/glossariy" class="content">Глоссарий</a></li>
            </ol>

            <p><a name ="top1"><h4 style="text-align: center; ">ВУЗы Великобритании</h4></a></p>

            <h5><b>Топ-3 ВУЗов Великобритании</b></h5>
            1 место: <a href="/oxford" class="content">Оксфордский университет</a><br>
            2 место: <a href="/cambridge" class="content">Кембриджский университет</a><br>
            3 место: <a href="/colledgeLondon" class="content">Имперский колледж Лондона</a><br><p>

            <p>Университеты в Великобритании — одни из старейших и популярнейших вузов в мире. Обучение в Англии выбирают те, 
            кто хочет не только получить блестящее образование, но и построить успешную карьеру. 


            <div id="glavnaya_uni" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#glavnaya_uni" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#glavnaya_uni" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#glavnaya_uni" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="/static/Oxford_carousel.jpg" class="d-block w-100 photo_uni" alt="University of Oxford">
                <div class="carousel-caption d-none d-md-block">
                    <h5>University of Oxford</h5>
                    <p>#4 в мире, #1 в UK</p>
                </div>
                </div>
                <div class="carousel-item">
                <img src="/static/Cambridge_carousel.jpg" class="d-block w-100 photo_uni" alt="University of Cambridge">
                <div class="carousel-caption d-none d-md-block">
                    <h5>University of Cambridge</h5>
                    <p>#5 в мире, #2 в UK</p>
                </div>
                </div>
                <div class="carousel-item">
                <img src="/static/Imperial College London_carousel.jpg" class="d-block w-100 photo_uni" alt="Imperial College London">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Imperial College London</h5>
                    <p>#13 в мире, #3 в UK<p>
                </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#glavnaya_uni" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#glavnaya_uni" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>


            <p style = "text-align: center; font-size: 16px; text-decoration: underline">Самые знаменитые университеты Великобритании</p>

            <p>Британские университеты появились в мире в начале 11-12 веков и на протяжении веков подтверждали высочайшие стандарты обучения. 
            ВУЗы сумели сформировать хорошую репутацию, готовя высококвалифицированных специалистов. 
            18 университетов Великобритании входят в рейтинг 100 лучших мировых ВУЗов. 
            Закончив их, студент получает отличную базу для дальнейшего трудоустройства и становится востребованным специалистом.</p>
    
            <p>Образование в Великобритании поддерживает правительство. Оно выделяет огромные суммы на развитие ВУЗов, вкладывая миллионы фунтов стерлингов в оснащение лабораторий, 
            инфраструктуру и научные исследования.</p>

            <p>Лучшие университеты Великобритании поддерживают высокие стандарты образования. Они регулярно проходят оценку агентства QAA. 
            Это независимый орган, проверяющий стандарты и качество британского высшего образования.</p>

            <a name ="top2"><h4 style="text-align: center;">Особенности высшего образования в Великобритании</h4></a>

            <ul>
                <li>бесконечное разнообразие учебных программ;</li>
                <li>безупречная техническая оснащенность университетов;</li>
                <li>максимум практического опыта и стажировки;</li>
                <li>богатейшие библиотеки;</li>
                <li>внимание к развитию моральных качеств у студентов;</li>
                <li>знаменитые ученые и великолепные педагоги в качестве преподавателей;</li>
                <li>возможности для самообучения, самостоятельность в составлении учебного графика;</li>
                <li>индивидуальный подход и система персонального наставничества;</li>
                <li>развитая система студенческих союзов, обществ и клубов по интересам;</li>
                <li>внимание к иностранным студентам.</li>
            </ul>

            <a name ="top3"><h4 style="text-align: center;">Система высшего образования Великобритании</h4></a>

            <p>После окончания среднего образования (Secondary Education) подростки могут идти получать либо Further Education 
            (профессиональное образование = наш аналог «среднего специального»), либо идти получить Higher Education (высшее образование). 
            Высшее образование делится на «высшее» (бакалавриат) и поствысшее (все степени и квалификации, выше бакалавра).</p>
            
            <p><b>Степени высшего образования и их сроки:</b></p>
            
            <ul>
                <li>Бакалавриат – 3 года</li>
                <li>Магитсратура – 1 год</li>
                <li>Докторантура – в зависимости от исследовательского проекта</li>
            </ul>

            <a name ="top4"><h4 style="text-align: center;">Бакалавриат в Великобритании</h4></a>

            <p>Большинство стран мира пеняли классические образцы системы образования Англии, 
            но вот бакалавриатом Великобритания сильно отличается от очень многих стран, и преде всего – сроком обучения. 
            Требуется всего 3 года, чтобы получить бакалавра. Почему так мало?</p>

            <ul>
                <li>Образование узко специализировано</li>
                <li>На программе не преподаются никакие «лишние» предметы.</li>
                <li>В средней школе англичане учатся дольше, поэтому их знания лучше или, по крайней мере, глубже по профильным предметам.</li>
            </ul>

            <p>Абитуриентам из России приходится наверстывать отсутствующий 12-й класс в средней школе специальным подготовительным курсом. Называется он <a href="/glossariy">Foundation</a> и длится 1 академический год. 
            Закончив Foundation, студент переходит на первый курс бакалавриата. Благодаря конкуренции появился и еще один подготовительный курс – <a href="/glossariy">Diploma Program</a>. 
            Он более интенсивный, но длится тоже год, а после его окончания студенты переходят сразу на второй курс бакалавриата! И, таким образом, экономятся немалые деньги и год жизни!</p>

            <p><b>Foundation и Dipolma конкурируют между собой</b> на рынке высшего образования Великобритании, что позитивно сказывается на потребителях образовательных услуг, то есть на студентах!</p>

            <a name ="top5"></a><h4 style="text-align: center;">Магистратура в Великобритании</h4>

            <p>Если Вы интересовались вопросом обучения на магистратуре за рубежом, то, возможно, заметили, что обычная продолжительность обучения на данном типе программ составляет 2 года. 
            А вот в Великобритании степень магистра (или мастера) можно получить всего за 1 год! Всего 1 календарный (не академический) год!</p>

            <b>Магистратура бывает 2-х типов:</b>
            
            <ul>
                <li>Исследовательская</li>
                <li>Условно «учебная», где учатся, но не проводят собственные научные исследования.
                    99% процентов иностранцев учатся именно на втором типе магистерских программ.</li>
            </ul>

            <b>Магистратура бывает 2-х типов:</b>

            <ul>
                <li>Первые 9 месяцев- обучение в аудиториях</li>
                <li>Последние 3 месяца – написание эссе (диссертации)</li>
            </ul>

            <b>Плюсы получения магистратуры в Великобритании:</b>

            <ul>
                <li>Незначительная продолжительность (меньше требуется денег и на обучение, и на проживание)</li>
                <li>Престиж британских «корочек»</li>
                <li>Узкая специализация</li>
            </ul>

            <p>Однако, есть и свои минусы. Главный из них касается только иностранных студентов. Заключается он в том, 
            что непродолжительное время обучения не оставляет время на «раскачку»! Вот, студент только прилетел в страну и начал учиться… 
            Ему нужно привыкнуть к сложному академическому языку, просто к жизни в другой стране, в иной манере преподавания… Все это отнимает силы и время,  
            а вот времени у студента-иностранца как раз и нет!  Приходится работать (учиться) на пределе своих возможностей, особенно в первые пару месяцев.</p>

            <p>Если желаете узнать побольше о системе высшего образования Великобритании, то вот ссылочка: <a href="https://ru.wikipedia.org/wiki/Система_образования_Великобритании#">Система образования Великобритании</a></p>



        </div>
    </div>        
</div>

    
{% endblock %}
