{% extends "___layout.html" %}

{% block content %}

<div class="background">
    <div class="block">
        <div class="blocktext">
            <h3 style = "text-align: center;">Глоссарий</h3>

            <a class = "content" href="/">Главная</a>

            <ol>
                <!-- <li><p><b>University of Oxford</b> - Оксфордский университет</p></li>

                <li><p><b>University of Cambridge</b> - Кембриджский университет</p></li>

                <li><p><b>Imperial College London</b> - Имперский колледж Лондона</p></li> -->

                <li><p><b>Foundation</b> – это программа подготовки к обучению в зарубежном университете на английском языке. 
                Она длится 1 год и включает в себя языковые модули английского языка, а также модули по предметам, 
                которые студент собирается в дальнейшем изучать в университете.</p></li>

                <li><p><b>Diploma Program (Дипломная программа)</b> -это самая распространенная разновидность программы IB, 
                рассчитанная на будущих абитуриентов. Продолжительность обучения - 2 года. Каждая школа предлагает собственный учебный план в рамках дипломной программы</p></li>

                <li><p><b>Рейтинг Times Higher Education (THE)</b> - журнал, ежегодно публикуемый глобальнфй рейтинг университетов.</p></li>

                <li><p><b>Golden Triangle</b> - термин, используемый для описания ряда ведущих научно-исследовательскихуниверситетовВеликобритании, 
                находящихся вКембридже,Лондоне и Оксфорде. Оксфордский университети Кембриджский университет образуют два угла треугольника, в то время как Имперский колледж Лондона, 
                Университетский колледж Лондона, Королевский колледж Лондона и Лондонская школа экономики и политических наук (LSE) образуют третий угол.</p></li>
            </ol>
            


        </div>
    </div>
</div>
{% endblock %}